<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>V</key>
  <dict>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.R_A</key>
    <integer>-60</integer>
    <key>public.kern2.R_J.ss03</key>
    <integer>-60</integer>
    <key>public.kern2.R_O</key>
    <integer>-20</integer>
    <key>public.kern2.R_S</key>
    <integer>-10</integer>
    <key>public.kern2.R_a</key>
    <integer>-40</integer>
    <key>public.kern2.R_f</key>
    <integer>-10</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>80</integer>
    <key>public.kern2.R_n</key>
    <integer>-30</integer>
    <key>public.kern2.R_o</key>
    <integer>-50</integer>
    <key>public.kern2.R_period</key>
    <integer>-50</integer>
    <key>public.kern2.R_s</key>
    <integer>-50</integer>
    <key>public.kern2.R_t</key>
    <integer>-10</integer>
    <key>public.kern2.R_u</key>
    <integer>-30</integer>
    <key>public.kern2.R_v</key>
    <integer>-20</integer>
    <key>public.kern2.R_z</key>
    <integer>-20</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2.R_J.ss03</key>
    <integer>-30</integer>
    <key>public.kern2.R_O</key>
    <integer>-30</integer>
    <key>public.kern2.R_f</key>
    <integer>-10</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>60</integer>
    <key>public.kern2.R_o</key>
    <integer>-20</integer>
    <key>public.kern2.R_s</key>
    <integer>-20</integer>
    <key>public.kern2.R_t</key>
    <integer>-30</integer>
    <key>public.kern2.R_u</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-10</integer>
    <key>public.kern2.R_w</key>
    <integer>-10</integer>
    <key>public.kern2.R_y</key>
    <integer>-30</integer>
  </dict>
  <key>ampersand</key>
  <dict>
    <key>public.kern2.R_T</key>
    <integer>-70</integer>
  </dict>
  <key>braceleft</key>
  <dict>
    <key>public.kern2.R_j</key>
    <integer>100</integer>
  </dict>
  <key>bracketleft</key>
  <dict>
    <key>public.kern2.R_j</key>
    <integer>100</integer>
  </dict>
  <key>exclamdown</key>
  <dict>
    <key>V</key>
    <integer>-30</integer>
    <key>public.kern2.R_W</key>
    <integer>-30</integer>
    <key>public.kern2.R_Y</key>
    <integer>-60</integer>
  </dict>
  <key>iukrcyr</key>
  <dict>
    <key>yukrcyr</key>
    <integer>40</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>four</key>
    <integer>-30</integer>
    <key>six</key>
    <integer>-20</integer>
    <key>public.kern2.R_period</key>
    <integer>-20</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>six</key>
    <integer>-10</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>public.kern2.R_j</key>
    <integer>100</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>V</key>
    <integer>-60</integer>
    <key>public.kern2.R_S</key>
    <integer>-40</integer>
    <key>public.kern2.R_T</key>
    <integer>-40</integer>
    <key>public.kern2.R_W</key>
    <integer>-60</integer>
    <key>public.kern2.R_Y</key>
    <integer>-60</integer>
    <key>public.kern2.R_j</key>
    <integer>70</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>five</key>
    <integer>-20</integer>
    <key>four</key>
    <integer>-90</integer>
    <key>six</key>
    <integer>-50</integer>
    <key>public.kern2.R_period</key>
    <integer>-40</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>nine</key>
    <integer>-20</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>four</key>
    <integer>-10</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
    <key>public.kern2.R_o</key>
    <integer>-20</integer>
  </dict>
  <key>yukrcyr</key>
  <dict>
    <key>iukrcyr</key>
    <integer>40</integer>
    <key>yukrcyr</key>
    <integer>110</integer>
  </dict>
  <key>public.kern1.L_A</key>
  <dict>
    <key>V</key>
    <integer>-60</integer>
    <key>public.kern2.R_O</key>
    <integer>-30</integer>
    <key>public.kern2.R_S</key>
    <integer>-10</integer>
    <key>public.kern2.R_T</key>
    <integer>-50</integer>
    <key>public.kern2.R_U</key>
    <integer>-20</integer>
    <key>public.kern2.R_W</key>
    <integer>-40</integer>
    <key>public.kern2.R_Y</key>
    <integer>-70</integer>
    <key>public.kern2.R_f</key>
    <integer>-20</integer>
    <key>public.kern2.R_o</key>
    <integer>-20</integer>
    <key>public.kern2.R_quoteleft</key>
    <integer>-40</integer>
    <key>public.kern2.R_quoteright</key>
    <integer>-40</integer>
    <key>public.kern2.R_quotesingle</key>
    <integer>-40</integer>
    <key>public.kern2.R_t</key>
    <integer>-30</integer>
    <key>public.kern2.R_u</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-30</integer>
    <key>public.kern2.R_w</key>
    <integer>-30</integer>
    <key>public.kern2.R_y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L_B</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.R_T</key>
    <integer>-20</integer>
    <key>public.kern2.R_W</key>
    <integer>-10</integer>
    <key>public.kern2.R_Y</key>
    <integer>-40</integer>
    <key>public.kern2.R_v</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_C</key>
  <dict>
    <key>public.kern2.R_Y</key>
    <integer>-10</integer>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
    <key>public.kern2.R_o</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_E</key>
  <dict>
    <key>public.kern2.R_idieresis</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.L_F</key>
  <dict>
    <key>x</key>
    <integer>-40</integer>
    <key>public.kern2.R_A</key>
    <integer>-50</integer>
    <key>public.kern2.R_J</key>
    <integer>-40</integer>
    <key>public.kern2.R_J.ss03</key>
    <integer>-60</integer>
    <key>public.kern2.R_O</key>
    <integer>-10</integer>
    <key>public.kern2.R_a</key>
    <integer>-30</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>60</integer>
    <key>public.kern2.R_n</key>
    <integer>-30</integer>
    <key>public.kern2.R_o</key>
    <integer>-20</integer>
    <key>public.kern2.R_period</key>
    <integer>-50</integer>
    <key>public.kern2.R_s</key>
    <integer>-40</integer>
    <key>public.kern2.R_u</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-30</integer>
    <key>public.kern2.R_y</key>
    <integer>-40</integer>
    <key>public.kern2.R_z</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L_G</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>public.kern2.R_T</key>
    <integer>-10</integer>
    <key>public.kern2.R_Y</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.L_H</key>
  <dict>
    <key>public.kern2.R_idieresis</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.L_J</key>
  <dict>
    <key>public.kern2.R_A</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L_K</key>
  <dict>
    <key>public.kern2.R_J.ss03</key>
    <integer>-10</integer>
    <key>public.kern2.R_O</key>
    <integer>-30</integer>
    <key>public.kern2.R_S</key>
    <integer>-10</integer>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
    <key>public.kern2.R_f</key>
    <integer>-20</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>60</integer>
    <key>public.kern2.R_o</key>
    <integer>-20</integer>
    <key>public.kern2.R_s</key>
    <integer>-10</integer>
    <key>public.kern2.R_t</key>
    <integer>-40</integer>
    <key>public.kern2.R_v</key>
    <integer>-40</integer>
    <key>public.kern2.R_w</key>
    <integer>-50</integer>
    <key>public.kern2.R_y</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.L_L</key>
  <dict>
    <key>V</key>
    <integer>-70</integer>
    <key>public.kern2.R_O</key>
    <integer>-20</integer>
    <key>public.kern2.R_T</key>
    <integer>-60</integer>
    <key>public.kern2.R_U</key>
    <integer>-20</integer>
    <key>public.kern2.R_W</key>
    <integer>-70</integer>
    <key>public.kern2.R_Y</key>
    <integer>-90</integer>
    <key>public.kern2.R_f</key>
    <integer>-30</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>40</integer>
    <key>public.kern2.R_quotesingle</key>
    <integer>-50</integer>
    <key>public.kern2.R_t</key>
    <integer>-30</integer>
    <key>public.kern2.R_v</key>
    <integer>-60</integer>
    <key>public.kern2.R_w</key>
    <integer>-60</integer>
    <key>public.kern2.R_y</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L_O</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.R_A</key>
    <integer>-30</integer>
    <key>public.kern2.R_T</key>
    <integer>-30</integer>
    <key>public.kern2.R_W</key>
    <integer>-20</integer>
    <key>public.kern2.R_Y</key>
    <integer>-30</integer>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_P</key>
  <dict>
    <key>X</key>
    <integer>-20</integer>
    <key>public.kern2.R_A</key>
    <integer>-60</integer>
    <key>public.kern2.R_J</key>
    <integer>-90</integer>
    <key>public.kern2.R_J.ss03</key>
    <integer>-120</integer>
    <key>public.kern2.R_Y</key>
    <integer>-20</integer>
    <key>public.kern2.R_a</key>
    <integer>-40</integer>
    <key>public.kern2.R_o</key>
    <integer>-20</integer>
    <key>public.kern2.R_period</key>
    <integer>-80</integer>
    <key>public.kern2.R_s</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L_R</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>public.kern2.R_J.ss03</key>
    <integer>-20</integer>
    <key>public.kern2.R_T</key>
    <integer>-20</integer>
    <key>public.kern2.R_W</key>
    <integer>-10</integer>
    <key>public.kern2.R_Y</key>
    <integer>-10</integer>
    <key>public.kern2.R_o</key>
    <integer>-30</integer>
    <key>public.kern2.R_t</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-20</integer>
    <key>public.kern2.R_y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_S</key>
  <dict>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.R_W</key>
    <integer>-10</integer>
    <key>public.kern2.R_Y</key>
    <integer>-30</integer>
    <key>public.kern2.R_a</key>
    <integer>-20</integer>
    <key>public.kern2.R_w</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_T</key>
  <dict>
    <key>x</key>
    <integer>-50</integer>
    <key>public.kern2.R_A</key>
    <integer>-50</integer>
    <key>public.kern2.R_J</key>
    <integer>-40</integer>
    <key>public.kern2.R_J.ss03</key>
    <integer>-80</integer>
    <key>public.kern2.R_O</key>
    <integer>-30</integer>
    <key>public.kern2.R_a</key>
    <integer>-60</integer>
    <key>public.kern2.R_f</key>
    <integer>-30</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>100</integer>
    <key>public.kern2.R_n</key>
    <integer>-60</integer>
    <key>public.kern2.R_o</key>
    <integer>-70</integer>
    <key>public.kern2.R_period</key>
    <integer>-70</integer>
    <key>public.kern2.R_s</key>
    <integer>-60</integer>
    <key>public.kern2.R_t</key>
    <integer>-20</integer>
    <key>public.kern2.R_u</key>
    <integer>-40</integer>
    <key>public.kern2.R_v</key>
    <integer>-50</integer>
    <key>public.kern2.R_w</key>
    <integer>-40</integer>
    <key>public.kern2.R_y</key>
    <integer>-40</integer>
    <key>public.kern2.R_z</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.L_U</key>
  <dict>
    <key>public.kern2.R_A</key>
    <integer>-20</integer>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1.L_W</key>
  <dict>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.R_A</key>
    <integer>-40</integer>
    <key>public.kern2.R_J.ss03</key>
    <integer>-50</integer>
    <key>public.kern2.R_O</key>
    <integer>-20</integer>
    <key>public.kern2.R_S</key>
    <integer>-10</integer>
    <key>public.kern2.R_a</key>
    <integer>-40</integer>
    <key>public.kern2.R_f</key>
    <integer>-10</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>60</integer>
    <key>public.kern2.R_n</key>
    <integer>-40</integer>
    <key>public.kern2.R_o</key>
    <integer>-40</integer>
    <key>public.kern2.R_s</key>
    <integer>-50</integer>
    <key>public.kern2.R_u</key>
    <integer>-30</integer>
    <key>public.kern2.R_y</key>
    <integer>-10</integer>
    <key>public.kern2.R_z</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L_Y</key>
  <dict>
    <key>x</key>
    <integer>-60</integer>
    <key>public.kern2.R_A</key>
    <integer>-70</integer>
    <key>public.kern2.R_J</key>
    <integer>-40</integer>
    <key>public.kern2.R_J.ss03</key>
    <integer>-110</integer>
    <key>public.kern2.R_O</key>
    <integer>-30</integer>
    <key>public.kern2.R_S</key>
    <integer>-30</integer>
    <key>public.kern2.R_a</key>
    <integer>-70</integer>
    <key>public.kern2.R_f</key>
    <integer>-30</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>50</integer>
    <key>public.kern2.R_n</key>
    <integer>-70</integer>
    <key>public.kern2.R_o</key>
    <integer>-100</integer>
    <key>public.kern2.R_period</key>
    <integer>-60</integer>
    <key>public.kern2.R_s</key>
    <integer>-80</integer>
    <key>public.kern2.R_t</key>
    <integer>-30</integer>
    <key>public.kern2.R_u</key>
    <integer>-50</integer>
    <key>public.kern2.R_v</key>
    <integer>-50</integer>
    <key>public.kern2.R_w</key>
    <integer>-60</integer>
    <key>public.kern2.R_y</key>
    <integer>-50</integer>
    <key>public.kern2.R_z</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.L_Z</key>
  <dict>
    <key>public.kern2.R_idieresis</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.L_a</key>
  <dict>
    <key>public.kern2.R_t</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_c</key>
  <dict>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
    <key>public.kern2.R_f</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.L_dcaron</key>
  <dict>
    <key>public.kern2.R_a</key>
    <integer>-60</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>50</integer>
    <key>public.kern2.R_n</key>
    <integer>-20</integer>
    <key>public.kern2.R_o</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.L_e</key>
  <dict>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_f</key>
  <dict>
    <key>braceright</key>
    <integer>100</integer>
    <key>bracketright</key>
    <integer>40</integer>
    <key>parenright</key>
    <integer>70</integer>
    <key>question</key>
    <integer>30</integer>
    <key>public.kern2.R_a</key>
    <integer>-30</integer>
    <key>public.kern2.R_f</key>
    <integer>-10</integer>
    <key>public.kern2.R_i</key>
    <integer>-10</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>70</integer>
    <key>public.kern2.R_n</key>
    <integer>-10</integer>
    <key>public.kern2.R_o</key>
    <integer>-30</integer>
    <key>public.kern2.R_period</key>
    <integer>-30</integer>
    <key>public.kern2.R_t</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.L_i</key>
  <dict>
    <key>public.kern2.R_idieresis</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.L_idieresis</key>
  <dict>
    <key>public.kern2.R_h</key>
    <integer>30</integer>
    <key>public.kern2.R_i</key>
    <integer>60</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>140</integer>
    <key>public.kern2.R_j</key>
    <integer>50</integer>
    <key>public.kern2.R_l</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1.L_j</key>
  <dict>
    <key>public.kern2.R_idieresis</key>
    <integer>70</integer>
  </dict>
  <key>public.kern1.L_k</key>
  <dict>
    <key>public.kern2.R_o</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_n</key>
  <dict>
    <key>public.kern2.R_v</key>
    <integer>-10</integer>
    <key>public.kern2.R_y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_o</key>
  <dict>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.R_f</key>
    <integer>-20</integer>
    <key>public.kern2.R_t</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-10</integer>
    <key>public.kern2.R_w</key>
    <integer>-10</integer>
    <key>public.kern2.R_y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_period</key>
  <dict>
    <key>one</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L_quoteleft</key>
  <dict>
    <key>public.kern2.R_A</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L_quoteright</key>
  <dict>
    <key>public.kern2.R_A</key>
    <integer>-40</integer>
    <key>public.kern2.R_J</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L_quotesingle</key>
  <dict>
    <key>public.kern2.R_A</key>
    <integer>-40</integer>
    <key>public.kern2.R_J</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.L_r</key>
  <dict>
    <key>public.kern2.R_period</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L_s</key>
  <dict>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.R_v</key>
    <integer>-10</integer>
    <key>public.kern2.R_w</key>
    <integer>-10</integer>
    <key>public.kern2.R_y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.L_t</key>
  <dict>
    <key>public.kern2.R_a</key>
    <integer>-10</integer>
    <key>public.kern2.R_idieresis</key>
    <integer>40</integer>
    <key>public.kern2.R_j</key>
    <integer>30</integer>
    <key>public.kern2.R_o</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L_v</key>
  <dict>
    <key>public.kern2.R_a</key>
    <integer>-20</integer>
    <key>public.kern2.R_o</key>
    <integer>-10</integer>
    <key>public.kern2.R_period</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L_w</key>
  <dict>
    <key>public.kern2.R_a</key>
    <integer>-20</integer>
    <key>public.kern2.R_o</key>
    <integer>-10</integer>
    <key>public.kern2.R_period</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L_z</key>
  <dict>
    <key>public.kern2.R_idieresis</key>
    <integer>40</integer>
  </dict>
</dict>
</plist>
