<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GSOffsetHorizontal</key>
  <integer>30</integer>
  <key>GSOffsetKeepCompatible</key>
  <integer>1</integer>
  <key>GSOffsetMakeStroke</key>
  <integer>1</integer>
  <key>GSOffsetPosition</key>
  <integer>1</integer>
  <key>GSOffsetProportional</key>
  <integer>1</integer>
  <key>GSOffsetVertical</key>
  <integer>10</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehookabove</string>
    <string>Abrevetilde</string>
    <string>Acircumflex</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhookabove</string>
    <string>Acircumflextilde</string>
    <string>Adblgrave</string>
    <string>Adieresis</string>
    <string>Adotbelow</string>
    <string>Agrave</string>
    <string>Ahookabove</string>
    <string>Ainvertedbreve</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccedillaacute</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>DZcaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ddotbelow</string>
    <string>Dlinebelow</string>
    <string>Dzcaron</string>
    <string>Eth</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecedillabreve</string>
    <string>Ecircumflex</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhookabove</string>
    <string>Ecircumflextilde</string>
    <string>Edblgrave</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Egrave</string>
    <string>Ehookabove</string>
    <string>Einvertedbreve</string>
    <string>Emacron</string>
    <string>Emacronacute</string>
    <string>Emacrongrave</string>
    <string>Eogonek</string>
    <string>Etilde</string>
    <string>Schwa</string>
    <string>F</string>
    <string>G</string>
    <string>G.ss01</string>
    <string>G.ss03</string>
    <string>Gbreve</string>
    <string>Gbreve.ss01</string>
    <string>Gbreve.ss03</string>
    <string>Gcaron</string>
    <string>Gcaron.ss01</string>
    <string>Gcaron.ss03</string>
    <string>Gcircumflex</string>
    <string>Gcircumflex.ss01</string>
    <string>Gcircumflex.ss03</string>
    <string>Gcommaaccent</string>
    <string>Gcommaaccent.ss01</string>
    <string>Gcommaaccent.ss03</string>
    <string>Gdotaccent</string>
    <string>Gdotaccent.ss01</string>
    <string>Gdotaccent.ss03</string>
    <string>Gmacron</string>
    <string>Gmacron.ss01</string>
    <string>Gmacron.ss03</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hbrevebelow</string>
    <string>Hcircumflex</string>
    <string>Hdotbelow</string>
    <string>I</string>
    <string>I.ss01</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Iacute.ss01</string>
    <string>Ibreve</string>
    <string>Ibreve.ss01</string>
    <string>Icircumflex</string>
    <string>Icircumflex.ss01</string>
    <string>Idblgrave</string>
    <string>Idblgrave.ss01</string>
    <string>Idieresis</string>
    <string>Idieresis.ss01</string>
    <string>Idieresisacute</string>
    <string>Idieresisacute.ss01</string>
    <string>Idotaccent</string>
    <string>Idotaccent.ss01</string>
    <string>Idotbelow</string>
    <string>Idotbelow.ss01</string>
    <string>Igrave</string>
    <string>Igrave.ss01</string>
    <string>Ihookabove</string>
    <string>Ihookabove.ss01</string>
    <string>Iinvertedbreve</string>
    <string>Iinvertedbreve.ss01</string>
    <string>Imacron</string>
    <string>Imacron.ss01</string>
    <string>Iogonek</string>
    <string>Iogonek.ss01</string>
    <string>Itilde</string>
    <string>Itilde.ss01</string>
    <string>J</string>
    <string>J.ss03</string>
    <string>Jcircumflex</string>
    <string>Jcircumflex.ss03</string>
    <string>K</string>
    <string>K.ss01</string>
    <string>K.ss03</string>
    <string>Kcommaaccent</string>
    <string>Kcommaaccent.ss01</string>
    <string>Kcommaaccent.ss03</string>
    <string>L</string>
    <string>LJ</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Ldotbelow</string>
    <string>Lj</string>
    <string>Llinebelow</string>
    <string>Lslash</string>
    <string>M</string>
    <string>Mdotbelow</string>
    <string>N</string>
    <string>NJ</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
    <string>Ndotbelow</string>
    <string>Nj</string>
    <string>Nlinebelow</string>
    <string>Ntilde</string>
    <string>Eng</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhookabove</string>
    <string>Ocircumflextilde</string>
    <string>Odblgrave</string>
    <string>Odieresis</string>
    <string>Odieresismacron</string>
    <string>Odotaccentmacron</string>
    <string>Odotbelow</string>
    <string>Ograve</string>
    <string>Ohookabove</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhookabove</string>
    <string>Ohorntilde</string>
    <string>Ohungarumlaut</string>
    <string>Oinvertedbreve</string>
    <string>Omacron</string>
    <string>Omacronacute</string>
    <string>Omacrongrave</string>
    <string>Oogonek</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Otildeacute</string>
    <string>Otildedieresis</string>
    <string>Otildemacron</string>
    <string>OE</string>
    <string>P</string>
    <string>Thorn</string>
    <string>Q</string>
    <string>Q.ss03</string>
    <string>R</string>
    <string>R.ss03</string>
    <string>Racute</string>
    <string>Racute.ss03</string>
    <string>Rcaron</string>
    <string>Rcaron.ss03</string>
    <string>Rcommaaccent</string>
    <string>Rcommaaccent.ss03</string>
    <string>Rdblgrave</string>
    <string>Rdblgrave.ss03</string>
    <string>Rdotbelow</string>
    <string>Rdotbelow.ss03</string>
    <string>Rinvertedbreve</string>
    <string>Rinvertedbreve.ss03</string>
    <string>Rlinebelow</string>
    <string>Rlinebelow.ss03</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Sacutedotaccent</string>
    <string>Scaron</string>
    <string>Scarondotaccent</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Sdotaccent</string>
    <string>Sdotbelow</string>
    <string>Sdotbelowdotaccent</string>
    <string>Germandbls</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>Tlinebelow</string>
    <string>U</string>
    <string>U.ss01</string>
    <string>Uacute</string>
    <string>Uacute.ss01</string>
    <string>Ubreve</string>
    <string>Ubreve.ss01</string>
    <string>Ucircumflex</string>
    <string>Ucircumflex.ss01</string>
    <string>Udblgrave</string>
    <string>Udblgrave.ss01</string>
    <string>Udieresis</string>
    <string>Udieresis.ss01</string>
    <string>Udotbelow</string>
    <string>Udotbelow.ss01</string>
    <string>Ugrave</string>
    <string>Ugrave.ss01</string>
    <string>Uhookabove</string>
    <string>Uhookabove.ss01</string>
    <string>Uhorn</string>
    <string>Uhorn.ss01</string>
    <string>Uhornacute</string>
    <string>Uhornacute.ss01</string>
    <string>Uhorndotbelow</string>
    <string>Uhorndotbelow.ss01</string>
    <string>Uhorngrave</string>
    <string>Uhorngrave.ss01</string>
    <string>Uhornhookabove</string>
    <string>Uhornhookabove.ss01</string>
    <string>Uhorntilde</string>
    <string>Uhorntilde.ss01</string>
    <string>Uhungarumlaut</string>
    <string>Uhungarumlaut.ss01</string>
    <string>Uinvertedbreve</string>
    <string>Uinvertedbreve.ss01</string>
    <string>Umacron</string>
    <string>Umacron.ss01</string>
    <string>Umacrondieresis</string>
    <string>Umacrondieresis.ss01</string>
    <string>Uogonek</string>
    <string>Uogonek.ss01</string>
    <string>Uring</string>
    <string>Uring.ss01</string>
    <string>Utilde</string>
    <string>Utilde.ss01</string>
    <string>Utildeacute</string>
    <string>Utildeacute.ss01</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotaccent</string>
    <string>Ydotbelow</string>
    <string>Ygrave</string>
    <string>Yhookabove</string>
    <string>Ymacron</string>
    <string>Ytilde</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
    <string>a</string>
    <string>a.ss01</string>
    <string>a.ss02</string>
    <string>a.ss03</string>
    <string>aacute</string>
    <string>aacute.ss01</string>
    <string>aacute.ss02</string>
    <string>aacute.ss03</string>
    <string>abreve</string>
    <string>abreve.ss01</string>
    <string>abreve.ss02</string>
    <string>abreve.ss03</string>
    <string>abreveacute</string>
    <string>abreveacute.ss01</string>
    <string>abreveacute.ss02</string>
    <string>abreveacute.ss03</string>
    <string>abrevedotbelow</string>
    <string>abrevedotbelow.ss01</string>
    <string>abrevedotbelow.ss02</string>
    <string>abrevedotbelow.ss03</string>
    <string>abrevegrave</string>
    <string>abrevegrave.ss01</string>
    <string>abrevegrave.ss02</string>
    <string>abrevegrave.ss03</string>
    <string>abrevehookabove</string>
    <string>abrevehookabove.ss01</string>
    <string>abrevehookabove.ss02</string>
    <string>abrevehookabove.ss03</string>
    <string>abrevetilde</string>
    <string>abrevetilde.ss01</string>
    <string>abrevetilde.ss02</string>
    <string>abrevetilde.ss03</string>
    <string>acircumflex</string>
    <string>acircumflex.ss01</string>
    <string>acircumflex.ss02</string>
    <string>acircumflex.ss03</string>
    <string>acircumflexacute</string>
    <string>acircumflexacute.ss01</string>
    <string>acircumflexacute.ss02</string>
    <string>acircumflexacute.ss03</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexdotbelow.ss01</string>
    <string>acircumflexdotbelow.ss02</string>
    <string>acircumflexdotbelow.ss03</string>
    <string>acircumflexgrave</string>
    <string>acircumflexgrave.ss01</string>
    <string>acircumflexgrave.ss02</string>
    <string>acircumflexgrave.ss03</string>
    <string>acircumflexhookabove</string>
    <string>acircumflexhookabove.ss01</string>
    <string>acircumflexhookabove.ss02</string>
    <string>acircumflexhookabove.ss03</string>
    <string>acircumflextilde</string>
    <string>acircumflextilde.ss01</string>
    <string>acircumflextilde.ss02</string>
    <string>acircumflextilde.ss03</string>
    <string>adblgrave</string>
    <string>adblgrave.ss01</string>
    <string>adblgrave.ss02</string>
    <string>adblgrave.ss03</string>
    <string>adieresis</string>
    <string>adieresis.ss01</string>
    <string>adieresis.ss02</string>
    <string>adieresis.ss03</string>
    <string>adotbelow</string>
    <string>adotbelow.ss01</string>
    <string>adotbelow.ss02</string>
    <string>adotbelow.ss03</string>
    <string>agrave</string>
    <string>agrave.ss01</string>
    <string>agrave.ss02</string>
    <string>agrave.ss03</string>
    <string>ahookabove</string>
    <string>ahookabove.ss01</string>
    <string>ahookabove.ss02</string>
    <string>ahookabove.ss03</string>
    <string>ainvertedbreve</string>
    <string>ainvertedbreve.ss01</string>
    <string>ainvertedbreve.ss02</string>
    <string>ainvertedbreve.ss03</string>
    <string>amacron</string>
    <string>amacron.ss01</string>
    <string>amacron.ss02</string>
    <string>amacron.ss03</string>
    <string>aogonek</string>
    <string>aogonek.ss01</string>
    <string>aogonek.ss02</string>
    <string>aogonek.ss03</string>
    <string>aring</string>
    <string>aring.ss01</string>
    <string>aring.ss02</string>
    <string>aring.ss03</string>
    <string>aringacute</string>
    <string>aringacute.ss01</string>
    <string>aringacute.ss02</string>
    <string>aringacute.ss03</string>
    <string>atilde</string>
    <string>atilde.ss01</string>
    <string>atilde.ss02</string>
    <string>atilde.ss03</string>
    <string>ae</string>
    <string>aeacute</string>
    <string>b</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccedillaacute</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>ddotbelow</string>
    <string>dlinebelow</string>
    <string>dzcaron</string>
    <string>eth</string>
    <string>e</string>
    <string>e.ss03</string>
    <string>eacute</string>
    <string>eacute.ss03</string>
    <string>ebreve</string>
    <string>ebreve.ss03</string>
    <string>ecaron</string>
    <string>ecaron.ss03</string>
    <string>ecedillabreve</string>
    <string>ecedillabreve.ss03</string>
    <string>ecircumflex</string>
    <string>ecircumflex.ss03</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexacute.ss03</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexdotbelow.ss03</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexgrave.ss03</string>
    <string>ecircumflexhookabove</string>
    <string>ecircumflexhookabove.ss03</string>
    <string>ecircumflextilde</string>
    <string>ecircumflextilde.ss03</string>
    <string>edblgrave</string>
    <string>edblgrave.ss03</string>
    <string>edieresis</string>
    <string>edieresis.ss03</string>
    <string>edotaccent</string>
    <string>edotaccent.ss03</string>
    <string>edotbelow</string>
    <string>edotbelow.ss03</string>
    <string>egrave</string>
    <string>egrave.ss03</string>
    <string>ehookabove</string>
    <string>ehookabove.ss03</string>
    <string>einvertedbreve</string>
    <string>einvertedbreve.ss03</string>
    <string>emacron</string>
    <string>emacron.ss03</string>
    <string>emacronacute</string>
    <string>emacronacute.ss03</string>
    <string>emacrongrave</string>
    <string>emacrongrave.ss03</string>
    <string>eogonek</string>
    <string>eogonek.ss03</string>
    <string>etilde</string>
    <string>etilde.ss03</string>
    <string>schwa</string>
    <string>f</string>
    <string>f.ss01</string>
    <string>g</string>
    <string>g.ss01</string>
    <string>g.ss03</string>
    <string>gbreve</string>
    <string>gbreve.ss01</string>
    <string>gbreve.ss03</string>
    <string>gcaron</string>
    <string>gcaron.ss01</string>
    <string>gcaron.ss03</string>
    <string>gcircumflex</string>
    <string>gcircumflex.ss01</string>
    <string>gcircumflex.ss03</string>
    <string>gcommaaccent</string>
    <string>gcommaaccent.ss01</string>
    <string>gcommaaccent.ss03</string>
    <string>gdotaccent</string>
    <string>gdotaccent.ss01</string>
    <string>gdotaccent.ss03</string>
    <string>gmacron</string>
    <string>gmacron.ss01</string>
    <string>gmacron.ss03</string>
    <string>h</string>
    <string>h.ss01</string>
    <string>h.ss03</string>
    <string>hbar</string>
    <string>hbar.ss01</string>
    <string>hbar.ss03</string>
    <string>hbrevebelow</string>
    <string>hbrevebelow.ss01</string>
    <string>hbrevebelow.ss03</string>
    <string>hcircumflex</string>
    <string>hcircumflex.ss01</string>
    <string>hcircumflex.ss03</string>
    <string>hdotbelow</string>
    <string>hdotbelow.ss01</string>
    <string>hdotbelow.ss03</string>
    <string>i</string>
    <string>i.ss01</string>
    <string>idotless</string>
    <string>idotless.ss01</string>
    <string>idotless.wide</string>
    <string>iacute</string>
    <string>iacute.ss01</string>
    <string>ibreve</string>
    <string>ibreve.ss01</string>
    <string>icircumflex</string>
    <string>icircumflex.ss01</string>
    <string>idblgrave</string>
    <string>idblgrave.ss01</string>
    <string>idieresis</string>
    <string>idieresis.ss01</string>
    <string>idieresisacute</string>
    <string>idieresisacute.ss01</string>
    <string>idotaccent</string>
    <string>idotaccent.ss01</string>
    <string>idotbelow</string>
    <string>idotbelow.ss01</string>
    <string>igrave</string>
    <string>igrave.ss01</string>
    <string>ihookabove</string>
    <string>ihookabove.ss01</string>
    <string>iinvertedbreve</string>
    <string>iinvertedbreve.ss01</string>
    <string>imacron</string>
    <string>imacron.ss01</string>
    <string>iogonek</string>
    <string>iogonek.ss01</string>
    <string>itilde</string>
    <string>itilde.ss01</string>
    <string>ij</string>
    <string>j</string>
    <string>j.ss01</string>
    <string>j.ss02</string>
    <string>jdotless</string>
    <string>jdotless.ss01</string>
    <string>jdotless.ss02</string>
    <string>jcircumflex</string>
    <string>jcircumflex.ss01</string>
    <string>jcircumflex.ss02</string>
    <string>k</string>
    <string>k.ss01</string>
    <string>kcommaaccent</string>
    <string>kcommaaccent.ss01</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>l.ss01</string>
    <string>l.ss03</string>
    <string>lacute</string>
    <string>lacute.ss01</string>
    <string>lacute.ss03</string>
    <string>lcaron</string>
    <string>lcaron.ss01</string>
    <string>lcaron.ss03</string>
    <string>lcommaaccent</string>
    <string>lcommaaccent.ss01</string>
    <string>lcommaaccent.ss03</string>
    <string>ldot</string>
    <string>ldot.ss01</string>
    <string>ldot.ss03</string>
    <string>ldotbelow</string>
    <string>ldotbelow.ss01</string>
    <string>ldotbelow.ss03</string>
    <string>lj</string>
    <string>llinebelow</string>
    <string>llinebelow.ss01</string>
    <string>llinebelow.ss03</string>
    <string>lslash</string>
    <string>lslash.ss01</string>
    <string>lslash.ss03</string>
    <string>m</string>
    <string>m.ss01</string>
    <string>m.ss03</string>
    <string>mdotbelow</string>
    <string>mdotbelow.ss01</string>
    <string>mdotbelow.ss03</string>
    <string>n</string>
    <string>n.ss01</string>
    <string>n.ss03</string>
    <string>nacute</string>
    <string>nacute.ss01</string>
    <string>nacute.ss03</string>
    <string>ncaron</string>
    <string>ncaron.ss01</string>
    <string>ncaron.ss03</string>
    <string>ncommaaccent</string>
    <string>ncommaaccent.ss01</string>
    <string>ncommaaccent.ss03</string>
    <string>ndotaccent</string>
    <string>ndotaccent.ss01</string>
    <string>ndotaccent.ss03</string>
    <string>ndotbelow</string>
    <string>ndotbelow.ss01</string>
    <string>ndotbelow.ss03</string>
    <string>nj</string>
    <string>nj.ss01</string>
    <string>nj.ss03</string>
    <string>nlinebelow</string>
    <string>nlinebelow.ss01</string>
    <string>nlinebelow.ss03</string>
    <string>ntilde</string>
    <string>ntilde.ss01</string>
    <string>ntilde.ss03</string>
    <string>eng</string>
    <string>eng.ss01</string>
    <string>eng.ss03</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhookabove</string>
    <string>ocircumflextilde</string>
    <string>odblgrave</string>
    <string>odieresis</string>
    <string>odieresismacron</string>
    <string>odotaccentmacron</string>
    <string>odotbelow</string>
    <string>ograve</string>
    <string>ohookabove</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhookabove</string>
    <string>ohorntilde</string>
    <string>ohungarumlaut</string>
    <string>oinvertedbreve</string>
    <string>omacron</string>
    <string>omacronacute</string>
    <string>omacrongrave</string>
    <string>oogonek</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>otildeacute</string>
    <string>otildedieresis</string>
    <string>otildemacron</string>
    <string>oe</string>
    <string>p</string>
    <string>p.ss02</string>
    <string>thorn</string>
    <string>q</string>
    <string>q.ss02</string>
    <string>r</string>
    <string>r.ss01</string>
    <string>r.ss02</string>
    <string>racute</string>
    <string>racute.ss01</string>
    <string>racute.ss02</string>
    <string>rcaron</string>
    <string>rcaron.ss01</string>
    <string>rcaron.ss02</string>
    <string>rcommaaccent</string>
    <string>rcommaaccent.ss01</string>
    <string>rcommaaccent.ss02</string>
    <string>rdblgrave</string>
    <string>rdblgrave.ss01</string>
    <string>rdblgrave.ss02</string>
    <string>rdotbelow</string>
    <string>rdotbelow.ss01</string>
    <string>rdotbelow.ss02</string>
    <string>rinvertedbreve</string>
    <string>rinvertedbreve.ss01</string>
    <string>rinvertedbreve.ss02</string>
    <string>rlinebelow</string>
    <string>rlinebelow.ss01</string>
    <string>rlinebelow.ss02</string>
    <string>s</string>
    <string>sacute</string>
    <string>sacutedotaccent</string>
    <string>scaron</string>
    <string>scarondotaccent</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>sdotaccent</string>
    <string>sdotbelow</string>
    <string>sdotbelowdotaccent</string>
    <string>germandbls</string>
    <string>t</string>
    <string>t.ss01</string>
    <string>tbar</string>
    <string>tbar.ss01</string>
    <string>tcaron</string>
    <string>tcaron.ss01</string>
    <string>tcedilla</string>
    <string>tcedilla.ss01</string>
    <string>tcommaaccent</string>
    <string>tcommaaccent.ss01</string>
    <string>tdieresis</string>
    <string>tdieresis.ss01</string>
    <string>tdotbelow</string>
    <string>tdotbelow.ss01</string>
    <string>tlinebelow</string>
    <string>tlinebelow.ss01</string>
    <string>u</string>
    <string>u.ss01</string>
    <string>u.ss03</string>
    <string>uacute</string>
    <string>uacute.ss01</string>
    <string>uacute.ss03</string>
    <string>ubreve</string>
    <string>ubreve.ss01</string>
    <string>ubreve.ss03</string>
    <string>ucircumflex</string>
    <string>ucircumflex.ss01</string>
    <string>ucircumflex.ss03</string>
    <string>udblgrave</string>
    <string>udblgrave.ss01</string>
    <string>udblgrave.ss03</string>
    <string>udieresis</string>
    <string>udieresis.ss01</string>
    <string>udieresis.ss03</string>
    <string>udotbelow</string>
    <string>udotbelow.ss01</string>
    <string>udotbelow.ss03</string>
    <string>ugrave</string>
    <string>ugrave.ss01</string>
    <string>ugrave.ss03</string>
    <string>uhookabove</string>
    <string>uhookabove.ss01</string>
    <string>uhookabove.ss03</string>
    <string>uhorn</string>
    <string>uhorn.ss01</string>
    <string>uhorn.ss03</string>
    <string>uhornacute</string>
    <string>uhornacute.ss01</string>
    <string>uhornacute.ss03</string>
    <string>uhorndotbelow</string>
    <string>uhorndotbelow.ss01</string>
    <string>uhorndotbelow.ss03</string>
    <string>uhorngrave</string>
    <string>uhorngrave.ss01</string>
    <string>uhorngrave.ss03</string>
    <string>uhornhookabove</string>
    <string>uhornhookabove.ss01</string>
    <string>uhornhookabove.ss03</string>
    <string>uhorntilde</string>
    <string>uhorntilde.ss01</string>
    <string>uhorntilde.ss03</string>
    <string>uhungarumlaut</string>
    <string>uhungarumlaut.ss01</string>
    <string>uhungarumlaut.ss03</string>
    <string>uinvertedbreve</string>
    <string>uinvertedbreve.ss01</string>
    <string>uinvertedbreve.ss03</string>
    <string>umacron</string>
    <string>umacron.ss01</string>
    <string>umacron.ss03</string>
    <string>umacrondieresis</string>
    <string>umacrondieresis.ss01</string>
    <string>umacrondieresis.ss03</string>
    <string>uogonek</string>
    <string>uogonek.ss01</string>
    <string>uogonek.ss03</string>
    <string>uring</string>
    <string>uring.ss01</string>
    <string>uring.ss03</string>
    <string>utilde</string>
    <string>utilde.ss01</string>
    <string>utilde.ss03</string>
    <string>utildeacute</string>
    <string>utildeacute.ss01</string>
    <string>utildeacute.ss03</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>y</string>
    <string>y.ss01</string>
    <string>y.ss02</string>
    <string>y.ss03</string>
    <string>yacute</string>
    <string>yacute.ss01</string>
    <string>yacute.ss02</string>
    <string>yacute.ss03</string>
    <string>ycircumflex</string>
    <string>ycircumflex.ss01</string>
    <string>ycircumflex.ss02</string>
    <string>ycircumflex.ss03</string>
    <string>ydieresis</string>
    <string>ydieresis.ss01</string>
    <string>ydieresis.ss02</string>
    <string>ydieresis.ss03</string>
    <string>ydotaccent</string>
    <string>ydotaccent.ss01</string>
    <string>ydotaccent.ss02</string>
    <string>ydotaccent.ss03</string>
    <string>ydotbelow</string>
    <string>ydotbelow.ss01</string>
    <string>ydotbelow.ss02</string>
    <string>ydotbelow.ss03</string>
    <string>ygrave</string>
    <string>ygrave.ss01</string>
    <string>ygrave.ss02</string>
    <string>ygrave.ss03</string>
    <string>yhookabove</string>
    <string>yhookabove.ss01</string>
    <string>yhookabove.ss02</string>
    <string>yhookabove.ss03</string>
    <string>ymacron</string>
    <string>ymacron.ss01</string>
    <string>ymacron.ss02</string>
    <string>ymacron.ss03</string>
    <string>ytilde</string>
    <string>ytilde.ss01</string>
    <string>ytilde.ss02</string>
    <string>ytilde.ss03</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zdotbelow</string>
    <string>f.liga</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>fl</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Delta</string>
    <string>Omega</string>
    <string>pi</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>fraction</string>
    <string>onehalf</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
    <string>zerosuperior</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>space</string>
    <string>nbspace</string>
    <string>enspace</string>
    <string>emspace</string>
    <string>figurespace</string>
    <string>punctuationspace</string>
    <string>thinspace</string>
    <string>hairspace</string>
    <string>zerowidthspace</string>
    <string>.notdef</string>
    <string>CR</string>
    <string>period</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>ellipsis</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>exclamdown.case</string>
    <string>question</string>
    <string>questiondown</string>
    <string>questiondown.case</string>
    <string>periodcentered</string>
    <string>periodcentered.case</string>
    <string>periodcentered.loclCAT</string>
    <string>bullet</string>
    <string>bullet.case</string>
    <string>asterisk</string>
    <string>numbersign</string>
    <string>slash</string>
    <string>slash.case</string>
    <string>backslash</string>
    <string>backslash.case</string>
    <string>hyphen</string>
    <string>hyphen.case</string>
    <string>endash</string>
    <string>endash.case</string>
    <string>emdash</string>
    <string>emdash.case</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
    <string>hyphentwo</string>
    <string>underscore</string>
    <string>parenleftinferior</string>
    <string>parenrightinferior</string>
    <string>parenleft</string>
    <string>parenleft.case</string>
    <string>parenright</string>
    <string>parenright.case</string>
    <string>braceleft</string>
    <string>braceleft.case</string>
    <string>braceright</string>
    <string>braceright.case</string>
    <string>bracketleft</string>
    <string>bracketleft.case</string>
    <string>bracketright</string>
    <string>bracketright.case</string>
    <string>parenleftsuperior</string>
    <string>parenrightsuperior</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>guillemetleft</string>
    <string>guillemetleft.case</string>
    <string>guillemetright</string>
    <string>guillemetright.case</string>
    <string>guilsinglleft</string>
    <string>guilsinglleft.case</string>
    <string>guilsinglright</string>
    <string>guilsinglright.case</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>florin</string>
    <string>baht</string>
    <string>blackstar</string>
    <string>whitestar</string>
    <string>at</string>
    <string>at.case</string>
    <string>ampersand</string>
    <string>paragraph</string>
    <string>section</string>
    <string>copyright</string>
    <string>registered</string>
    <string>registered.alt</string>
    <string>trademark</string>
    <string>degree</string>
    <string>minute</string>
    <string>second</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>dagger</string>
    <string>literSign</string>
    <string>daggerdbl</string>
    <string>estimated</string>
    <string>numero</string>
    <string>austral</string>
    <string>bitcoin</string>
    <string>cedi</string>
    <string>cent</string>
    <string>colonsign</string>
    <string>currency</string>
    <string>dollar</string>
    <string>dong</string>
    <string>euro</string>
    <string>franc</string>
    <string>guarani</string>
    <string>hryvnia</string>
    <string>kip</string>
    <string>lari</string>
    <string>lira</string>
    <string>liraTurkish</string>
    <string>manat</string>
    <string>naira</string>
    <string>peseta</string>
    <string>peso</string>
    <string>ruble</string>
    <string>rupee</string>
    <string>rupeeIndian</string>
    <string>sheqel</string>
    <string>sterling</string>
    <string>tenge</string>
    <string>tugrik</string>
    <string>won</string>
    <string>yen</string>
    <string>bulletoperator</string>
    <string>divisionslash</string>
    <string>equalinferior</string>
    <string>equalsuperior</string>
    <string>multiplyinferior</string>
    <string>divideinferior</string>
    <string>notequalinferior</string>
    <string>greaterinferior</string>
    <string>lessinferior</string>
    <string>greaterequalinferior</string>
    <string>lessequalinferior</string>
    <string>plusminusinferior</string>
    <string>percentinferior</string>
    <string>perthousandinferior</string>
    <string>minusinferior</string>
    <string>minussuperior</string>
    <string>plus</string>
    <string>plus.case</string>
    <string>minus</string>
    <string>minus.case</string>
    <string>multiply</string>
    <string>multiply.case</string>
    <string>divide</string>
    <string>divide.case</string>
    <string>equal</string>
    <string>equal.case</string>
    <string>notequal</string>
    <string>notequal.case</string>
    <string>greater</string>
    <string>greater.case</string>
    <string>less</string>
    <string>less.case</string>
    <string>greaterequal</string>
    <string>lessequal</string>
    <string>plusminus</string>
    <string>plusminus.case</string>
    <string>approxequal</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>asciitilde.case</string>
    <string>asciicircum</string>
    <string>infinity</string>
    <string>emptyset</string>
    <string>integral</string>
    <string>Ohm</string>
    <string>increment</string>
    <string>product</string>
    <string>summation</string>
    <string>radical</string>
    <string>micro</string>
    <string>partialdiff</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>plusinferior</string>
    <string>plussuperior</string>
    <string>multiplysuperior</string>
    <string>dividesuperior</string>
    <string>notequalsuperior</string>
    <string>greatersuperior</string>
    <string>lesssuperior</string>
    <string>greaterequalsuperior</string>
    <string>lessequalsuperior</string>
    <string>plusminussuperior</string>
    <string>percentsuperior</string>
    <string>perthousandsuperior</string>
    <string>upArrow</string>
    <string>northEastArrow</string>
    <string>rightArrow</string>
    <string>southEastArrow</string>
    <string>downArrow</string>
    <string>southWestArrow</string>
    <string>leftArrow</string>
    <string>northWestArrow</string>
    <string>leftRightArrow</string>
    <string>upDownArrow</string>
    <string>leftHookArrow</string>
    <string>rightHookArrow</string>
    <string>upTipLeftArrow</string>
    <string>upTipRightArrow</string>
    <string>downTipLeftArrow</string>
    <string>downTipRightArrow</string>
    <string>rightTipDownArrow</string>
    <string>leftArrowTipDown</string>
    <string>blackCircle</string>
    <string>whiteCircle</string>
    <string>blackDiamond</string>
    <string>whiteDiamond</string>
    <string>lozenge</string>
    <string>blackSquare</string>
    <string>whiteSquare</string>
    <string>upBlackTriangle</string>
    <string>rightBlackTriangle</string>
    <string>downBlackTriangle</string>
    <string>leftBlackTriangle</string>
    <string>upWhiteTriangle</string>
    <string>rightWhiteTriangle</string>
    <string>downWhiteTriangle</string>
    <string>leftWhiteTriangle</string>
    <string>dieresiscomb</string>
    <string>dieresiscomb_gravecomb</string>
    <string>dieresiscomb_acutecomb</string>
    <string>dieresiscomb_caroncomb</string>
    <string>dieresiscomb_macroncomb</string>
    <string>dotaccentcomb</string>
    <string>dotaccentcomb_macroncomb</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>acutecomb_dotaccentcomb</string>
    <string>hungarumlautcomb</string>
    <string>caroncomb.alt</string>
    <string>circumflexcomb</string>
    <string>caroncomb</string>
    <string>caroncomb_dotaccentcomb</string>
    <string>brevecomb</string>
    <string>ringcomb</string>
    <string>ringcomb_acutecomb</string>
    <string>tildecomb</string>
    <string>tildecomb_dieresiscomb</string>
    <string>tildecomb_acutecomb</string>
    <string>tildecomb_macroncomb</string>
    <string>macroncomb</string>
    <string>macroncomb_dieresiscomb</string>
    <string>macroncomb_gravecomb</string>
    <string>macroncomb_acutecomb</string>
    <string>hookabovecomb</string>
    <string>dblgravecomb</string>
    <string>breveinvertedcomb</string>
    <string>commaturnedabovecomb</string>
    <string>horncomb</string>
    <string>dotbelowcomb</string>
    <string>dieresisbelowcomb</string>
    <string>commaaccentcomb</string>
    <string>cedillacomb</string>
    <string>ogonekcomb</string>
    <string>brevebelowcomb</string>
    <string>macronbelowcomb</string>
    <string>brevecomb_acutecomb</string>
    <string>brevecomb_gravecomb</string>
    <string>brevecomb_hookabovecomb</string>
    <string>brevecomb_tildecomb</string>
    <string>circumflexcomb_acutecomb</string>
    <string>circumflexcomb_gravecomb</string>
    <string>circumflexcomb_hookabovecomb</string>
    <string>circumflexcomb_tildecomb</string>
    <string>strokeshortcomb</string>
    <string>strokeshortcomb.case</string>
    <string>strokeshortcomb.t</string>
    <string>strokelongcomb</string>
    <string>strokelongcomb.case</string>
    <string>slashshortcomb</string>
    <string>slashshortcomb.case</string>
    <string>slashlongcomb</string>
    <string>slashlongcomb.case</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>acute</string>
    <string>hungarumlaut</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>ring</string>
    <string>tilde</string>
    <string>macron</string>
    <string>cedilla</string>
    <string>ogonek</string>
    <string>_dollar.bar</string>
    <string>_dot.l</string>
    <string>Acyr</string>
    <string>Becyr</string>
    <string>Vecyr</string>
    <string>Gecyr</string>
    <string>Decyr</string>
    <string>Iecyr</string>
    <string>Zhecyr</string>
    <string>Zecyr</string>
    <string>Icyr</string>
    <string>Ishortcyr</string>
    <string>Kacyr</string>
    <string>Elcyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ocyr</string>
    <string>Pecyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Tecyr</string>
    <string>Ucyr</string>
    <string>Efcyr</string>
    <string>Hacyr</string>
    <string>Tsecyr</string>
    <string>Checyr</string>
    <string>Shacyr</string>
    <string>Shchacyr</string>
    <string>Hardcyr</string>
    <string>Ylongcyr</string>
    <string>Softcyr</string>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
    <string>Yacyr</string>
    <string>Iocyr</string>
    <string>Eukrcyr</string>
    <string>Dzecyr</string>
    <string>Jecyr</string>
    <string>acyr</string>
    <string>becyr</string>
    <string>vecyr</string>
    <string>gecyr</string>
    <string>decyr</string>
    <string>iecyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>emcyr</string>
    <string>encyr</string>
    <string>ocyr</string>
    <string>pecyr</string>
    <string>ercyr</string>
    <string>escyr</string>
    <string>tecyr</string>
    <string>ucyr</string>
    <string>efcyr</string>
    <string>hacyr</string>
    <string>tsecyr</string>
    <string>checyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>softcyr</string>
    <string>ereversedcyr</string>
    <string>yucyr</string>
    <string>yacyr</string>
    <string>iocyr</string>
    <string>dzecyr</string>
    <string>iukrcyr</string>
    <string>yukrcyr</string>
    <string>jecyr</string>
    <string>Dzhecyr</string>
    <string>dzhecyr</string>
    <string>eukrcyr</string>
    <string>Elcyr.loclBGR</string>
    <string>Efcyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>ylongcyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
    <string>Decyr.loclBGR</string>
    <string>igravecyr.loclBGR</string>
    <string>ushortcyr</string>
    <string>Ushortcyr</string>
    <string>Yukrcyr</string>
    <string>Iukrcyr</string>
    <string>tshecyr</string>
    <string>djecyr</string>
    <string>Gjecyr</string>
    <string>gjecyr</string>
    <string>Kjecyr</string>
    <string>kjecyr</string>
    <string>Tshecyr</string>
    <string>Djecyr</string>
    <string>Geupcyr</string>
    <string>geupcyr</string>
    <string>Njecyr</string>
    <string>njecyr</string>
    <string>ljecyr</string>
    <string>Ljecyr</string>
    <string>Ustraightcyr</string>
    <string>ustraightcyr</string>
    <string>Obarcyr</string>
    <string>obarcyr</string>
  </array>
</dict>
</plist>
